.footer {
    height: 630px;
    position: relative;
    &__info {
        position: absolute;
        display: block;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: $main-color;
        padding: 50px 53px 56px 53px;
        /* bag position element ? */
    }
    &__addr {
        color: #FFF;
        text-align: center;
        font-size: 20px;
        font-weight: 500;
    }
    &__phone {
        display: block;
        color: #FFF;
        text-align: center;
        font-size: 20px;
        font-weight: 700;
        margin-top: 36px;
        text-decoration: none;
        margin-bottom: 30px;
        &:hover {
            text-decoration: underline;
        }
    }
    &__social {
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    &__social-item {
        display: flex;
        align-items: center;
        justify-content: center;    
        border: 2px solid #fff;
        border-radius: 100%;
        width: 53px;
        height: 52px;
        margin: 15px;
    }
    &__map {
        z-index: -1;
    }
}